@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    i {
        @apply   flex items-center a-prams ;
    }
    span {
        @apply  not-italic block sm:hidden xl:block ml-2 ;
    }
    /* input {
        @apply appearance-none block border rounded p-2 ;
    } */
    body{
        font-family: 'Nunito', sans-serif;
        font-style: normal;
        margin: 0;
        padding: 0;
        background-color: #f8f5f4;
        box-sizing: border-box;
        cursor: default;
    }
    h1{
        font-size: 2em;
        font-weight: bold;
        color: #c3b7b7;
        mix-blend-mode: difference;

    }
    header {
        background-color: white;
        box-shadow: 0 1px 0 0 rgb(0 11 38 / 12%);
        position: relative;
        width: 100%;
        z-index: 300;
        padding: 9px 16px;
    }
    img{
        height: 1.75rem; 
        max-width: 40vw;
    }
   
}


@layer components {
    input[type="checkbox"]{
       display: none;
    }
    input[type="checkbox"]:checked + label:before {
        background-color:#0162ff;
        border-color:#0162ff;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
        background-position: 50%;
        background-size: 14px;
        background-repeat: no-repeat;
    }
     .filer-wrapper{
        padding-top: 20px;
     }
    .filter-type{
        width: 270px;
        display: flex;
        flex-direction: column;
        height: 100%;
        flex-shrink: 0;
        /* background: #fafafb; */
    }
    label{
        margin-left: 2px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
   
    label::before{
        content: "";
        margin-right: 10px;
        width: 16px;
        height: 16px;
        border: 1px solid #0162ff;
        border-radius: 4px;
        cursor: pointer;
    }
    .p-4{
        display: flex;
        justify-content:center;
    }
    .logo-i{
        padding : 0px;
    }
    .nav-header{
        display: flex;
        justify-content: space-around;
    }
    .card-img {
        @apply w-full;
    }
    .a-content {
        @apply flex  relative  w-full mb-5 ;
    }
    .search{
        box-sizing: border-box;
        position: relative;
        height: 48px;
        width: 100%;
        background-color: #ffffff;
        margin: 0;
        line-height: 48px;
        border-radius: 30px;
        padding: 0 45px 0 20px;
        font-size: 18px;
        border: 0;
        outline: none;
        border-radius: 20px;
        padding-right: 12px;
        box-shadow: 0 2px 6px 0 rgb(136 148 171 / 20%), 0 24px 20px -24px rgb(71 82 107 / 10%);
        overflow: hidden;
    }
    
    .search-button{
        position: absolute;
        top: 4px;
        right: 4px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--color);
        z-index: 2;
        font-size: 24px;
        padding: 0;
        border: none;
    }
    .a-prams {
        box-sizing: border-box;
        background-color: #ffffff;
        width: 42px;
        height: 42px;
        padding: 11px;
        display: flex;
        align-items: center;
        --tw-text-opacity: 1;
        
    }
    
    
        
 
    
    .main{
        width: calc(100% - 3rem);
        max-width: 1000px;
        /* margin: 0 auto; */
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 1.5rem;
    }
    .a-detail{
        width: 100%;
        position: relative;
        padding: 0.5em 1em;
        box-sizing: border-box;
        background-color: #fff;
    }
    .card {
        background-position: center;
        background-size: cover;
        border: 1px solid black;
    }
    .card:hover{
        transform: translate(0,-4px);
        box-shadow: 0px 17px 19px -2px rgb(0 0 0 / 20%);
    }
    .container {
        max-width: 1024px;
        margin-left: calc((100% - 1000px) / 2);
    }
    .title{
        font-size: 90px;
        font-weight: bold;
        margin-top: -10px;
        margin-bottom: -75px;
        font-family: 'Secular One', sans-serif;
    }
    .sidebar{
        /* padding: 40px 16px; */
        display: flex;
        /* flex-direction: column; */
        align-items: center;
    }
    .sidebar-link {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .logo{
        display:flex;
    }       
            
 }